@use '../base/variables' as *;
@use '../base/mixins'    as *;

.carrusel-productos {
  max-width: 800px;
  margin: 0 auto;

  .imagen-carrusel {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    @include respond-to(md) {
      height: auto;
      max-height: 400px;
    }
  }
}
