// Media queries
@use '../base/variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $break-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $break-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $break-lg) { @content; }
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
