// Colores
$color-primario:    #742f26;
$color-secundario:  #5c2a1d;
$color-fondo-nav:   #f5f0ea;
$color-acento:      #e6d6c7;
$color-borde:       #d2b48c;

// Tipografía
$font-principal:    'Raleway', sans-serif;

// Espaciados
$espaciado-pequeño: 10px;
$espaciado-medio:   20px;
$espaciado-grande:  40px;

// Breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
